<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Page title and favicon -->
    <title>NutriScanAI</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>
<body>
    <div class="w-screen h-screen flex flex-col justify-center items-center" style="background-color: #09001F;">
        <img class="" src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif" alt="">
        <a href="/">
            <button type="button" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-bold rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Go Back</button>
        </a>
    </div>
</body>
</html>